<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
    <param-name>location</param-name>
    <param-value>
           WEB-INF\classes
        </param-value>
  </context-param>
    <!-- 注册配置 -->
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>liaier.com.action.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
    <!-- 登录配置 -->
    <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>liaier.com.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <!-- 登录过滤配置 -->
  <filter>
    <display-name>PersonFilter</display-name>
    <filter-name>PersonFilter</filter-name>
    <filter-class>liaier.com.filter.PersonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PersonFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 登录配置 -->
  <!-- 新版后端管理配置 -->
  <filter>
    <display-name>newUserFilter</display-name>
    <filter-name>newUserFilter</filter-name>
    <filter-class>com.liaierto.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>newUserFilter</filter-name>
    <url-pattern>/t/BaseAction</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>newBaseAction</display-name>
    <servlet-name>newBaseAction</servlet-name>
    <servlet-class>com.liaierto.action.BaseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newBaseAction</servlet-name>
    <url-pattern>/t/BaseAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newConfigDbActioin</display-name>
    <servlet-name>newConfigDbActioin</servlet-name>
    <servlet-class>com.liaierto.action.ConfigDbActioin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newConfigDbActioin</servlet-name>
    <url-pattern>/t/newConfigDbActioin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewDataAction</display-name>
    <servlet-name>NewDataAction</servlet-name>
    <servlet-class>com.liaierto.action.DataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDataAction</servlet-name>
    <url-pattern>/NewDataAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newResourceAction</display-name>
    <servlet-name>newResourceAction</servlet-name>
    <servlet-class>com.liaierto.action.ResourceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newResourceAction</servlet-name>
    <url-pattern>/t/*</url-pattern>
  </servlet-mapping>
  
  <!-- 旧版后端管理配置 -->
	<servlet>
    <description></description>
    <display-name>BaseAction</display-name>
    <servlet-name>BaseAction</servlet-name>
    <servlet-class>com.liaier.action.BaseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseAction</servlet-name>
    <url-pattern>/x/BaseAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>configDbActioin</display-name>
    <servlet-name>configDbActioin</servlet-name>
    <servlet-class>com.liaier.action.configDbActioin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configDbActioin</servlet-name>
    <url-pattern>/x/configDbActioin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.liaier.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/x/BaseAction</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ManageFilter</display-name>
    <filter-name>ManageFilter</filter-name>
    <filter-class>com.liaier.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageFilter</filter-name>
    <url-pattern>/DataAction</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DataAction</display-name>
    <servlet-name>DataAction</servlet-name>
    <servlet-class>com.liaier.action.DataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAction</servlet-name>
    <url-pattern>/DataAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceAction</display-name>
    <servlet-name>ResourceAction</servlet-name>
    <servlet-class>com.liaier.action.ResourceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceAction</servlet-name>
    <url-pattern>/x/*</url-pattern>
  </servlet-mapping>
  
  <!-- 连接池配置 -->
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
